<div class="media"> 
    <p><strong><%= comment.user.name %></strong> <%= comment.created_at %></p>
  <!-- 
  <a class="pull-left"><%= comment.user.avatar %>
  <img class="media-object>
  </a> ask Adam -->
    <p><%= comment.body %></p>
    
 </div>
    
    
  