@import "bootstrap-custom";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.comment_form {
  width:200px;
  height:100px; 
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.voted {
  opacity: 0.5;
}

.hide {
  display: none;
}

.container {
  background: #ffffff;
  padding:15px;
  border-radius: 6px;
  margin-top:20px;
}

.span4 {
  background: #eeeeee;
  border-radius: 6px;
}

h2 {
  padding: 5px;
}

p {
  padding:5px;
}


